jd2resume_n8n/workflow.json
{
  "name": "JD to Resume Tailor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-tailor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst body = $input.first().json.body || $input.first().json;\nconst jd = body.jd;\n\nif (!jd || typeof jd !== 'string' || jd.trim().length === 0) {\n  throw new Error('Missing or empty jd field in request body');\n}\n\n$workflow.staticData.retryCount = 0;\n$workflow.staticData.pageRetryCount = 0;\n$workflow.staticData.retryReason = null;\n\nconst resume = JSON.parse(fs.readFileSync('/app/data/master_resume.json', 'utf-8'));\nconst extractPrompt = fs.readFileSync('/app/prompts/extract_metadata.md', 'utf-8');\nconst tailorPrompt = fs.readFileSync('/app/prompts/tailor_system.md', 'utf-8');\nconst htmlTemplate = fs.readFileSync('/app/templates/resume.html', 'utf-8');\n\nreturn [{ json: { jd: jd.trim(), resume, extractPrompt, tailorPrompt, htmlTemplate } }];"
      },
      "id": "node-load",
      "name": "Load and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "jsCode": "const { jd, resume, extractPrompt, tailorPrompt, htmlTemplate } = $input.first().json;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 300,\n  system: extractPrompt,\n  messages: [{ role: 'user', content: jd }]\n});\n\nreturn [{ json: { requestBody, jd, resume, tailorPrompt, htmlTemplate } }];"
      },
      "id": "node-build-extract",
      "name": "Build Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "node-anthropic-extract",
      "name": "Anthropic: Extract Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst text = resp.content[0].text.trim();\n\nlet meta;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  meta = JSON.parse(match ? match[0] : text);\n} catch (e) {\n  throw new Error('Metadata extraction returned invalid JSON: ' + text.substring(0, 200));\n}\n\nconst base = $('Build Extract Request').first().json;\nconst retryReason = $workflow.staticData.retryReason || null;\n\nlet userMsg = `MASTER RESUME:\\n${JSON.stringify(base.resume, null, 2)}\\n\\nJOB DESCRIPTION:\\n${base.jd}`;\nif (retryReason) {\n  userMsg += `\\n\\nREVISION REQUIRED: ${retryReason}`;\n}\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4096,\n  system: base.tailorPrompt,\n  messages: [{ role: 'user', content: userMsg }]\n});\n\nreturn [{ json: { requestBody, meta, jd: base.jd, resume: base.resume, tailorPrompt: base.tailorPrompt, htmlTemplate: base.htmlTemplate } }];"
      },
      "id": "node-parse-meta",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "node-anthropic-tailor",
      "name": "Anthropic: Tailor Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst text = resp.content[0].text.trim();\n\nlet tailored;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  tailored = JSON.parse(match ? match[0] : text);\n} catch (e) {\n  throw new Error('Tailoring returned invalid JSON: ' + text.substring(0, 200));\n}\n\nconst SUMMARY_LIMIT = 280;\nconst BULLET_CEIL = 220;\nconst BULLET_FLOOR = 150;\nconst PROJECT_LIMIT = 180;\n\nconst errors = [];\n\nif (!tailored.summary || tailored.summary.length > SUMMARY_LIMIT) {\n  errors.push(`Summary too long (${tailored.summary?.length ?? 0} chars, limit ${SUMMARY_LIMIT})`);\n}\nif (!Array.isArray(tailored.tech_stack) || tailored.tech_stack.length < 8 || tailored.tech_stack.length > 12) {\n  errors.push(`tech_stack must have 8-12 items (got ${tailored.tech_stack?.length ?? 0})`);\n}\nfor (const job of (tailored.experience || [])) {\n  for (const bullet of (job.bullets || [])) {\n    if (bullet.length > BULLET_CEIL) {\n      errors.push(`Bullet too long in ${job.company} (${bullet.length} chars, ceiling ${BULLET_CEIL})`);\n    } else if (bullet.length < BULLET_FLOOR) {\n      errors.push(`Bullet too short in ${job.company} (${bullet.length} chars, floor ${BULLET_FLOOR})`);\n    }\n  }\n}\nfor (const proj of (tailored.projects || [])) {\n  if (proj.description && proj.description.length > PROJECT_LIMIT) {\n    errors.push(`Project \"${proj.name}\" description too long (${proj.description.length} chars)`);\n  }\n}\nif (tailored.projects && tailored.projects.length > 2) {\n  tailored.projects = tailored.projects.slice(0, 2);\n}\n\nconst needsRetry = errors.length > 0;\nconst retryCount = $workflow.staticData.retryCount || 0;\n\nif (needsRetry) {\n  $workflow.staticData.retryReason = `Previous response exceeded limits: ${errors.join('; ')}. Compress while preserving all hard numbers and tools. Bullets must be ${BULLET_FLOOR}-${BULLET_CEIL} chars each.`;\n}\n\nconst base = $('Parse Metadata').first().json;\n\nreturn [{ json: {\n  tailored, needsRetry, retryCount, errors,\n  jd: base.jd,\n  resume: base.resume,\n  tailorPrompt: base.tailorPrompt,\n  htmlTemplate: base.htmlTemplate,\n  meta: base.meta\n} }];"
      },
      "id": "node-validate",
      "name": "Validate Lengths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsRetry === true && $json.retryCount < 2 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-needs-retry",
      "name": "Needs Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData.retryCount = ($workflow.staticData.retryCount || 0) + 1;\nconst retryReason = $workflow.staticData.retryReason;\nconst base = $('Parse Metadata').first().json;\n\nconst userMsg = `MASTER RESUME:\\n${JSON.stringify(base.resume, null, 2)}\\n\\nJOB DESCRIPTION:\\n${base.jd}\\n\\nREVISION REQUIRED: ${retryReason}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4096,\n  system: base.tailorPrompt,\n  messages: [{ role: 'user', content: userMsg }]\n});\n\nreturn [{ json: { requestBody } }];"
      },
      "id": "node-inc-retry",
      "name": "Increment Length Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 280]
    },
    {
      "parameters": {
        "jsCode": "const { tailored, htmlTemplate } = $input.first().json;\nconst resume = $('Load and Validate').first().json.resume;\n\nlet expHtml = '';\nfor (const job of tailored.experience) {\n  const bullets = (job.bullets || []).map(b => `<li>${b}</li>`).join('\\n        ');\n  expHtml += `\\n  <div class=\"job\">\\n    <div class=\"job-header\">\\n      <div>\\n        <span class=\"job-title\">${job.title}</span> &mdash;\\n        <span class=\"job-company\">${job.company}</span>\\n        <span class=\"job-location\">&nbsp;&middot;&nbsp;${job.location}</span>\\n      </div>\\n      <div class=\"job-dates\">${job.start} &ndash; ${job.end}</div>\\n    </div>\\n    <ul class=\"bullets\">\\n        ${bullets}\\n    </ul>\\n  </div>`;\n}\n\nlet projHtml = '';\nfor (const proj of (tailored.projects || []).slice(0, 2)) {\n  projHtml += `\\n  <div class=\"project\">\\n    <span class=\"project-name\">${proj.name}</span>\\n    <span class=\"project-desc\"> &mdash; ${proj.description}</span>\\n  </div>`;\n}\n\nlet eduHtml = '';\nfor (const edu of resume.education) {\n  eduHtml += `\\n  <div class=\"edu-row\">\\n    <div>\\n      <div class=\"edu-school\">${edu.school}</div>\\n      <div class=\"edu-degree\">${edu.degree}</div>\\n    </div>\\n    <div class=\"edu-meta\">${edu.date}<br>GPA: ${edu.gpa}</div>\\n  </div>`;\n}\n\nlet html = htmlTemplate;\nhtml = html.replace('{{name}}', resume.name);\nhtml = html.replace('{{email}}', resume.contact.email);\nhtml = html.replace('{{phone}}', resume.contact.phone);\nhtml = html.replace('{{location}}', resume.contact.location);\nhtml = html.replace('{{linkedin}}', resume.contact.linkedin);\nhtml = html.replace('{{github}}', resume.contact.github);\nhtml = html.replace('{{summary}}', tailored.summary);\nhtml = html.replace('{{tech_stack}}', tailored.tech_stack.join(' &middot; '));\nhtml = html.replace('{{experience}}', expHtml);\nhtml = html.replace('{{projects}}', projHtml);\nhtml = html.replace('{{education}}', eduHtml);\n\nreturn [{ json: { tailored, renderedHtml: html } }];"
      },
      "id": "node-render",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 520]
    },
    {
      "parameters": {
        "jsCode": "const { tailored, renderedHtml } = $input.first().json;\nconst base64 = Buffer.from(renderedHtml, 'utf-8').toString('base64');\n\nreturn [{\n  json: { tailored },\n  binary: {\n    htmlFile: {\n      data: base64,\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "node-html-binary",
      "name": "HTML to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "node-gotenberg",
      "name": "Gotenberg: HTML to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 520]
    },
    {
      "parameters": {
        "jsCode": "const { PDFDocument } = require('pdf-lib');\n\nconst pdfBin = $input.first().binary.pdfData;\nif (!pdfBin) throw new Error('No PDF data received from Gotenberg');\n\nconst pdfBytes = Buffer.from(pdfBin.data, 'base64');\nconst pdfDoc = await PDFDocument.load(pdfBytes);\nconst pageCount = pdfDoc.getPageCount();\n\nconst tailored = $('HTML to Binary').first().json.tailored;\nconst pageRetryCount = $workflow.staticData.pageRetryCount || 0;\nconst tooLong = pageCount > 1;\n\nif (tooLong) {\n  $workflow.staticData.retryReason = `PDF is ${pageCount} pages. Compress all bullets to 150-160 chars max. Summary under 200 chars. Reduce tech stack to exactly 8 items.`;\n  $workflow.staticData.retryCount = 0;\n}\n\nreturn [{ json: { pageCount, tooLong, pageRetryCount, tailored, pdfBase64: pdfBin.data } }];"
      },
      "id": "node-page-count",
      "name": "Verify Page Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 520]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.tooLong === true && $json.pageRetryCount < 2 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-page-overflow",
      "name": "Page Overflow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2840, 520]
    },
    {
      "parameters": {
        "jsCode": "$workflow.staticData.pageRetryCount = ($workflow.staticData.pageRetryCount || 0) + 1;\nconst retryReason = $workflow.staticData.retryReason;\nconst base = $('Parse Metadata').first().json;\n\nconst userMsg = `MASTER RESUME:\\n${JSON.stringify(base.resume, null, 2)}\\n\\nJOB DESCRIPTION:\\n${base.jd}\\n\\nREVISION REQUIRED: ${retryReason}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4096,\n  system: base.tailorPrompt,\n  messages: [{ role: 'user', content: userMsg }]\n});\n\nreturn [{ json: { requestBody } }];"
      },
      "id": "node-inc-page-retry",
      "name": "Increment Page Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 400]
    },
    {
      "parameters": {
        "jsCode": "const { tailored, pdfBase64 } = $input.first().json;\nconst company = (tailored.company || 'Company').replace(/[^a-zA-Z0-9]/g, '_');\nconst role = (tailored.role || 'Role').replace(/[^a-zA-Z0-9]/g, '_');\nconst filename = `Sridhar_Resume_${company}_${role}.pdf`;\nconst outputPath = `/app/output/${filename}`;\n\nreturn [{\n  json: { outputPath, filename, tailored },\n  binary: {\n    pdfFile: {\n      data: pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: filename\n    }\n  }\n}];"
      },
      "id": "node-prep-save",
      "name": "Prep Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 640]
    },
    {
      "parameters": {
        "filePath": "={{ $json.outputPath }}",
        "dataPropertyName": "pdfFile"
      },
      "id": "node-save-pdf",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [3280, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', file_path: $('Prep Save').first().json.outputPath, company: $('Prep Save').first().json.tailored.company, role: $('Prep Save').first().json.tailored.role }) }}"
      },
      "id": "node-respond-ok",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3500, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: $input.first().json.message || 'Unknown error' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node-respond-err",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Load and Validate", "type": "main", "index": 0 }]]
    },
    "Load and Validate": {
      "main": [[{ "node": "Build Extract Request", "type": "main", "index": 0 }]]
    },
    "Build Extract Request": {
      "main": [[{ "node": "Anthropic: Extract Metadata", "type": "main", "index": 0 }]]
    },
    "Anthropic: Extract Metadata": {
      "main": [[{ "node": "Parse Metadata", "type": "main", "index": 0 }]]
    },
    "Parse Metadata": {
      "main": [[{ "node": "Anthropic: Tailor Resume", "type": "main", "index": 0 }]]
    },
    "Increment Length Retry": {
      "main": [[{ "node": "Anthropic: Tailor Resume", "type": "main", "index": 0 }]]
    },
    "Increment Page Retry": {
      "main": [[{ "node": "Anthropic: Tailor Resume", "type": "main", "index": 0 }]]
    },
    "Anthropic: Tailor Resume": {
      "main": [[{ "node": "Validate Lengths", "type": "main", "index": 0 }]]
    },
    "Validate Lengths": {
      "main": [[{ "node": "Needs Retry?", "type": "main", "index": 0 }]]
    },
    "Needs Retry?": {
      "main": [
        [{ "node": "Increment Length Retry", "type": "main", "index": 0 }],
        [{ "node": "Render HTML", "type": "main", "index": 0 }]
      ]
    },
    "Render HTML": {
      "main": [[{ "node": "HTML to Binary", "type": "main", "index": 0 }]]
    },
    "HTML to Binary": {
      "main": [[{ "node": "Gotenberg: HTML to PDF", "type": "main", "index": 0 }]]
    },
    "Gotenberg: HTML to PDF": {
      "main": [[{ "node": "Verify Page Count", "type": "main", "index": 0 }]]
    },
    "Verify Page Count": {
      "main": [[{ "node": "Page Overflow?", "type": "main", "index": 0 }]]
    },
    "Page Overflow?": {
      "main": [
        [{ "node": "Increment Page Retry", "type": "main", "index": 0 }],
        [{ "node": "Prep Save", "type": "main", "index": 0 }]
      ]
    },
    "Prep Save": {
      "main": [[{ "node": "Save PDF", "type": "main", "index": 0 }]]
    },
    "Save PDF": {
      "main": [[{ "node": "Respond: Success", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-23T00:00:00.000Z",
  "versionId": "2"
}
